# Railway Mongo plugin usually provides MONGO_URL automatically.
# You can also set MONGODB_URI manually.
MONGODB_URI=
MONGO_URL=
MONGODB_DB=nox_chat

JWT_SECRET=change_me_to_long_random_string

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=
TELEGRAM_ENABLED=true

BLACKBOX_API_KEY=
BLACKBOX_ENABLED=true
